# ASSIGNMENT

## Day 2

##  Question 1. List and its default functions

In [18]:
lst = ['Arnav',729,37600,1,2,3,8,'Ball',65,86,'C',"D",956789]

In [19]:
print(lst)

['Arnav', 729, 37600, 1, 2, 3, 8, 'Ball', 65, 86, 'C', 'D', 956789]

In [20]:
lst.append(36) #36 is added to the list.

In [21]:
print(lst)

['Arnav', 729, 37600, 1, 2, 3, 8, 'Ball', 65, 86, 'C', 'D', 956789, 36]

In [22]:
l = ['A','E','I','I','O','U']

In [23]:
print(l)

['A', 'E', 'I', 'I', 'O', 'U']

In [24]:
l.count("I") # The letter 'I' is occurred 2 times in the list

2

In [25]:
lst.index('Ball') #Element 'Ball' is present at index 7.

7

In [27]:
lst.pop(6) #Element at index 6 i.e '8' is popped out.

8

In [28]:
print(lst)

['Arnav', 729, 37600, 1, 2, 3, 'Ball', 65, 86, 'C', 'D', 956789, 36]

In [30]:
lst.reverse() #List is reversed

In [31]:
print(lst)

[36, 956789, 'D', 'C', 86, 65, 'Ball', 3, 2, 1, 37600, 729, 'Arnav']

## Question 2. Dictionary and its default functions

In [33]:
dict = {1:'A',2:'B',3:'C'}

In [34]:
print(dict)

{1: 'A', 2: 'B', 3: 'C'}

In [35]:
dict[4]='D' # Add items to dictionary

In [36]:
print(dict)

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}

In [37]:
print(dict.pop(2)) # remove a key value pair from a dictionary

B

In [38]:
print(dict)

{1: 'A', 3: 'C', 4: 'D'}

In [39]:
dict.popitem() #Last item is popped out

(4, 'D')

In [40]:
dict.get(3) #Returns the value of a key.

'C'

In [41]:
dict.keys() #Returns keys of the dictionary

dict_keys([1, 3])

In [42]:
dict[2] = "B"

In [43]:
dict[4] = 'D'

In [44]:
print(dict)

{1: 'A', 3: 'C', 2: 'B', 4: 'D'}

In [50]:
dict.values() #Returns the values of dictionary

dict_values(['A', 'C', 'B', 'D'])

In [52]:
dict.items() #Returns a new object of dictionary's items in (key,value) format

dict_items([(1, 'A'), (3, 'C'), (2, 'B'), (4, 'D')])

## Question 3.Sets and its default functions

In [53]:
s = {1.0,"Hello",729,5,8,"Ball"}

In [54]:
print(s)

{1.0, 5, 8, 'Ball', 'Hello', 729}

In [55]:
s.add("Hi") #To Add elements to the set

In [56]:
print(s)

{1.0, 5, 'Hi', 8, 'Ball', 'Hello', 729}

In [62]:
A = {1,2,3,4,5}

In [63]:
B = {3,4,5,6,7}

In [64]:
A.union(B) #To find union of 2 sets

{1, 2, 3, 4, 5, 6, 7}

In [66]:
A.intersection(B) #To find Intersection of 2 sets

{3, 4, 5}

In [67]:
A.difference(B) #To find Difference of 2 sets

{1, 2}

In [69]:
A.issuperset(B) # Superset

False

In [70]:
A.isdisjoint(B) #Disjoint set

False

In [71]:
A.issubset(B) # Subset

False

In [72]:
B.issubset(A)

False

In [76]:
s.remove(1.0) #To remove a specific element

In [77]:
print(s)

{5, 'Hi', 8, 'Ball', 'Hello', 729}

In [78]:
s.pop() #To pop an element

5

In [80]:
s.pop()

'Hi'

## Question4. Tuples and its default functions

In [83]:
tup = (1,3.4,"Apple",6745,'p','red','w',67,88.567)

In [84]:
print(tup)

(1, 3.4, 'Apple', 6745, 'p', 'red', 'w', 67, 88.567)

In [85]:
print(tup[7]) #To find the element in specific index.

67

In [87]:
tup.count('p') # To count the value of a specific element

1

In [88]:
tup.index('red') #To find index of a specific element.

5

In [89]:
print(tup[-2]) # Negative indexing

67

In [91]:
print(tup[:-4]) #slicing

(1, 3.4, 'Apple', 6745, 'p')

In [92]:
print(tup[:])

(1, 3.4, 'Apple', 6745, 'p', 'red', 'w', 67, 88.567)

In [97]:
print(tup[3])

6745

In [98]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [100]:
print((" Repeat ")*3)

 Repeat  Repeat  Repeat

In [101]:
del tup #Deleting a tuple.

## Question 5. Strings and its default functions

In [103]:
str = 'LetsUpgrade'

In [104]:
print(str)

LetsUpgrade

In [105]:
print(str[1:5])

etsU

In [106]:
print(str[5:-2])

pgra

In [107]:
str.capitalize() #First letter is capitalized

'Letsupgrade'

In [108]:
str.count('e') #Count the occurrance of element.

2

In [109]:
str.isalpha() #To check if string consists of alphabets.

True

In [110]:
str1 = '123Hey'

In [111]:
str1.isalnum() #To check if strings consists of letters and numbers

True

In [113]:
str.swapcase() #Swap upper and lower cases.

'lETSuPGRADE'

In [116]:
print(str+" "+str1)

LetsUpgrade 123Hey

In [117]:
str.join(str1) #Join String with string 1.

'1LetsUpgrade2LetsUpgrade3LetsUpgradeHLetsUpgradeeLetsUpgradey'